 <section id="search" class="search-wrap">
    <h1>Pretrazi film po zanru</h1>
    <form action="/movies/search" class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="term" placeholder="Akcija, Komedija, ...">
      <input type="submit" value="Search">
    </form>
  </section>